<!doctype html>
<html lang="en" ng-app="BrunoJS" manifest="home.appcache">
<head>
  <meta charset="utf-8">
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1, user-scalable=no' name='viewport'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>

  <!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->

  <style>
     <%= sprockets.find_asset('_home.scss').body %>
  </style>
</head>
<body>

<div  class="full-bg">
</div>

<div class="btn-bar">
  <a class="btn show-if-anonymous ng-cloak" href="app://account/create-account">Create Account</a>

  <a class="btn show-if-anonymous ng-cloak" href="app://account/sign-in">Sign In</a>

  <!--<a class="btn show-if-registered ng-cloak" href="app://account/sign-out">Sign Out</a>-->

  <a class="btn" href="app://account/redeem-prompt">Redeem</a>
</div>

<script>
    (function (ac, l) {ac && ac.addEventListener('updateready',function(){l.reload();}, false)})(window.applicationCache, location);
</script>
<%= javascript_include_tag 'http://pf.homes.s3.amazonaws.com/dist/bruno-js-d9e4cfd6.js' %>
</body>
</html>

